{% extends 'base.html.twig' %}

{% block title 'Ma Boutique' %}

{% block body %}
<div class="row">
	<div id="fond">
		
	</div>
	
   <style media="screen">
   #fond {
    background:url("https://www.moulinroty.com/wp-content/uploads/2019/05/broderie2.jpg");
    background-size: cover;
    position:relative;
    width:750%;
    height:750px;
    z-index:1;
   }
</style>
</div>

{% endblock %}