<div class="card mb-4">

	{% if property.filename %}
	   <img src="{{ vich_uploader_asset(property, 'imageFile') }}" alt="card-img-top" style="width: 100%; height: 200px;">

	{% endif %}
	<div class="card-body">
		<h5 class="card-title">
			<a href="#">
				{{ property.title }}
			</a>
			<p class="card-text">{{ property.lien }}</p>
		</h5>
	</div>
</div>